<% layout('/layout') -%>
<h1>New Playlist</h1>
<p>Search for tracks and add them into the 3 available slots in your playlist.</p>
<form action="/process-new-playlist/" method="post">
  <input type="text" class="new-playlist-title" name="new-playlist-title" placeholder="Title">
  <% for(var i in [1, 2, 3]){ %>
    <!-- Track <%= i %> -->
    <label for="playlist-track-<%= i %>">Track <%= i %></label>
    <input data-index="<%= i %>" class="playlist-track-select" type="radio" name="track[]" id="playlist-track-<%= i %>" <% if(i == 0){ %>checked="checked"<% }; %>>
    <input type="hidden" id="track-<%= i %>-id" name="track<%= i %>id">
    <input type="hidden" id="track-<%= i %>-source" name="track<%= i %>source">
    <input type="text" disabled="disabled" id="track-<%= i %>-placeholder" name="track<%= i %>placeholder" class="track-info-placeholder">
  <% }; %>
  <input type="submit" value="Create Playlist!">
</form>

<h3>Search for and add tracks</h3>

<form class="track-search">
  <input type="text" class="track-search-query" placeholder="Track name or artist">
  <input type="submit" value="Search">
</form>

<ul class="track-search-results"></ul>